<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adit.poskoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoskoApp">
        <activity android:name=".CreateOrUpdatePenerimaanActivity"></activity>
        <activity android:name=".CreateOrUpdateBencanaActivity" />
        <activity android:name=".CreateAndUpdatePetugasActivity" />
        <activity
            android:name=".LogistikMasukActivity"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity android:name=".DetailBencanaActivity" />
        <activity android:name=".DistribusiActivity" />
        <activity
            android:name=".PenerimaanLogistikActivity"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity android:name=".PetugasBerandaActivity" />
        <activity
            android:name=".PoskoActivity"
            android:label="@string/title_activity_posko"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity
            android:name=".BencanaActivity"
            android:label="@string/title_activity_bencana"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity
            android:name=".CekActivity"
            android:label="@string/title_activity_cek"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity
            android:name=".DonaturActivity"
            android:theme="@style/Theme.PoskoApp.NoActionBar" />
        <activity android:name=".PetugasActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>